.col-sm-4.col-md-3.proto-content
  .thumbnail
    = link_to image_tag(prototype.main_image.name.to_s), prototype_path(prototype)
    .caption
      %h3
        = link_to "#{prototype.title}", prototype_path(prototype)
      .proto-meta
        .proto-user
          = link_to "by #{prototype.user.name}"
        .proto-posted
          = prototype.created_at
      %ul.proto-tag-list.list-inline
        - prototype.tag_list.each do |tag|
          %li
            = link_to tag, tag_path(tag), class: "btn btn-default"
  - if user_signed_in? && current_user.id == prototype.user_id
    .dropdown.drop_menu_location
      %button.btn.btn-primary.dropdown-toggle#dropdownMenu{type: "button", data: {toggle: "dropdown"}}
        Edit/Delete
      %ul.dropdown-menu{aria: {labelledby: "dropdownMenu1"}}
        %li
          = link_to "Delete", prototype_path(prototype), method: :delete
        %li
          = link_to "Edit", edit_prototype_path(prototype)