.container.proto-new
  = form_for(@prototype) do |f|
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          = f.text_field :title, required: true, placeholder: "Title"
      .row
        .col-md-12
          .cover-image-upload
            = f.fields_for :prototype_images, @prototype.main_image do |image|
              = image.file_field :name, required: true
              = image.hidden_field :property, value: "main"
        .col-md-12
          %ul.proto-sub-list.list-group
            %li.list-group-item.col-md-4
              .image-upload
                = f.fields_for :prototype_images, @prototype.sub_images do |image|
                  = image.file_field :name
                  = image.hidden_field :property, value: "sub"
            %li.list-group-item.col-md-4
              .image-upload
                = f.fields_for :prototype_image, @prototype.sub_images do |image|
                  = image.file_field :name
                  = image.hidden_field :property, value: "sub"
            %li.list-group-item.col-md-4
              .image-upload-plus
                %span +
      .row.proto-description
        .col-md-12
          = f.text_field :catchcopy, placeholder: "Catch Copy"
        .col-md-12
          = f.text_area :concept, cols: "30", rows: "4", placeholder: "Cencept"
        .col-md-12
          %h4 Tag List
          .row
            .col-md-3
              %input{:type => "text", :placeholder => "Web Design"}/
            .col-md-3
              %input{:type => "text", :placeholder => "UI"}/
            .col-md-3
              %input{:type => "text", :placeholder => "Application"}/
      .row.text-center.proto-btn
        %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"} Publish